body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

p {
    text-align: justify;
}

.top-orange {
    color: #FFA500;
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
}

.top-corner {
    background-image: url(/images/top-banner.png);
    background-repeat: no-repeat;
}

.top-banner {
    width: 50%;
    padding-left: 30px;
}

.top-banner img {
    width: 80%;
}

.hire-button {
    background-color: #FF6A4D;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: 600px;
    color: white;
}

.dream-big {
    background-image: url(/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-area {
    background-image: url(/images/exp-bg.png);
    background-repeat: no-repeat;
}
